{% extends 'base.html.twig' %}

{% block title %} Services.Agri {% endblock %}

{% block body %}

    <h1>Inscription</h1>
    
    {{ form_start(form) }}

    {{ form_row(form.username, {'label': 'Nom d\'utilisateur', 'attr': {'placeholder': 'Renseignez votre nom'}}) }}
    {{ form_row(form.email, {'label': 'Email', 'attr': {'placeholder': 'Renseignez votre email'}}) }}
    {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Renseignez votre mot de passe'}}) }}

    <button class="submit btn btn-primary">Inscription</button>

    {{ form_end(form) }}

{% endblock %}
