{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %} Services.Agri {% endblock %}

{% block body %}
<h1> Création d'un Topic ! </h1>

{{ form_start(form) }}

    {{ form_row(form.titre, {'label': 'Nom d\'utilisateur', 'attr':{'placeholder': "Titre du Topic" }}) }}
    {{ form_row(form.service, {'label': 'Services', 'attr':{'placeholder': "Catégorie" }}) }}
    {{ form_row(form.content, {'label': 'Contenu', 'attr':{'placeholder': "Contenu du Topic" }})}}
    
    <button type="submit" class="btn btn-primary">Ajouter un Topic</button>

{{ form_end(form)}}

{% endblock %}
